### Identificando valores vazios

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv("clientes.csv")
# df de DataFrame
display(df)

#Transforma uma coluna em numero
df["TotalGasto"] = pd.to_numeric(df["TotalGasto"], errors="coerce")

# info
print(df.info())

# df.isna().any() ou .sum()
df.isna().any()

,IDCliente,Dependentes,MesesComoCliente,TipoContrato,FormaPagamento,TotalGasto
0,7010-BRBUU,Sim,72.0,2 anos,CartaoCredito,1734.65
1,9688-YGXVR,Nao,NaN,Mensal,CartaoCredito,3973.2
2,9286-DOJGF,Nao,NaN,Mensal,DebitoAutomatico,2869.85
3,6994-KERXL,Nao,4.0,Mensal,BoletoEletronico,238.5
4,2181-UAESM,Nao,2.0,Mensal,BoletoEletronico,119.5
...,...,...,...,...,...,...
5981,0684-AOSIH,Nao,1.0,Mensal,BoletoEletronico,95
5982,5982-PSMKW,Sim,23.0,2 anos,CartaoCredito,2198.3
5983,8044-BGWPI,Sim,12.0,Mensal,BoletoEletronico,306.05
5984,7450-NWRTR,Nao,12.0,Mensal,BoletoEletronico,1200.15
5985,4795-UXVCJ,Nao,26.0,Anual,CartaoCredito,457.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         5986 non-null   object
 1   Dependentes       5985 non-null   object
 2   MesesComoCliente  5984 non-null   float64
 3   TipoContrato      5986 non-null   object
 4   FormaPagamento    5986 non-null   object
 5   TotalGasto        5976 non-null   float64
dtypes: float64(2), object(4)
memory usage: 280.7+ KB
None

IDCliente           False
Dependentes          True
MesesComoCliente     True
TipoContrato        False
FormaPagamento      False
TotalGasto           True
dtype: bool

### Valores vazios não identificados como vazio

In [ ]:
# identificar na hora de importar

# identificar com replace

### Removendo valores vazios

In [ ]:
# 0 -> exclui linhas, 1 -> exclui colunas

### Tratando valores vazios

##### - Preenchendo com valor fixo

##### - Preenchendo com anterior ou seguinte

##### - Interpolando